<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>默认</key>
	<string></string>
	<key>pink</key>
	<string>Assets.xcassets/tab_2</string>
	<key>blue</key>
	<string>Assets.xcassets/tab_1</string>
</dict>
</plist>
